In [34]:
# libraries
import pandas as pd

# Present Working Directory | Get Current Working Directory
import os
pwd = os.getcwd()
pwd

'C:\\Users\\jisbe\\Portfolio_Projects\\Projects\\Shashank - Data Cleaning CHALLENGE'

In [22]:
# import csv into jupyter notebooks
data_import = pd.read_csv(pwd + '\\data_cleaning_challenge.csv')
data_import

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Unnamed: 9,Unnamed: 10
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,NaN,NaN
3,Iter,1,360,108,863,599,680,442,982,NaN,NaN
4,Iter,2,684,508,613,241,249,758,639,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,NaN,NaN
76373,Average,979,641,531,374,448,407,185,439,NaN,NaN
76374,Maximum,783,172,941,53,982,217,963,502,NaN,NaN
76375,Std.Dev.,221,112,717,630,239,561,142,909,NaN,NaN
76376,Total,429,-,-,-,-,847,583,407,NaN,NaN

In [15]:
# change header names to Row Type, Iter Number, Power1, etc. 
# this was a manual manipulatin to the CSV

In [24]:
# drop empty columns - using 'columns = []', you can drop multiple columns with a list
# create a new variable for a new copy before dropping, so that the existing data set can remain as the source
drop_extra = data_import.drop(columns = ['Unnamed: 9', 'Unnamed: 10'])
drop_extra

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
3,Iter,1,360,108,863,599,680,442,982
4,Iter,2,684,508,613,241,249,758,639
...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863
76373,Average,979,641,531,374,448,407,185,439
76374,Maximum,783,172,941,53,982,217,963,502
76375,Std.Dev.,221,112,717,630,239,561,142,909
76376,Total,429,-,-,-,-,847,583,407

In [27]:
# drop NaN values - rows drop from, 76377 to 58397
drop_nans = drop_extra[drop_extra['Row Type'].notna()]
drop_nans

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
3,Iter,1,360,108,863,599,680,442,982
4,Iter,2,684,508,613,241,249,758,639
5,Iter,3,365,126,825,407,855,164,86
...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863
76373,Average,979,641,531,374,448,407,185,439
76374,Maximum,783,172,941,53,982,217,963,502
76375,Std.Dev.,221,112,717,630,239,561,142,909
76376,Total,429,-,-,-,-,847,583,407

In [28]:
# create a for loop that searches for 'first name' and then it copies all data until it reaches 'first name' again
# create a list
column_values = []
counter = 0

for i in drop_nans['Row Type']:
    if 'first name' in i:
        # print(i) used for error handling
        counter += 1
    column_values.append(counter)

In [50]:
# we now have a list for our column values
# we want to make this a new column in our dataset
iter_cols = drop_nans
iter_cols['Iteration'] = column_values
iter_cols

<ipython-input-50-319d803edcc9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iter_cols['Iteration'] = column_values

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,5994
76373,Average,979,641,531,374,448,407,185,439,5994
76374,Maximum,783,172,941,53,982,217,963,502,5994
76375,Std.Dev.,221,112,717,630,239,561,142,909,5994
76376,Total,429,-,-,-,-,847,583,407,5994

In [44]:
# view current variables
%who_ls

['close',
 'column_values',
 'counter',
 'data_import',
 'drop_extra',
 'drop_nans',
 'i',
 'iter_cols',
 'os',
 'pd',
 'pwd']

In [63]:
# set rows displayed
pd.set_option('display.max_rows', 500)
iter_cols.head(500)

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
8,Average,182,361,741,231,731,493,847,237,1
9,Maximum,276,33,97,154,25,922,9,312,1
10,Std.Dev.,523,1000,34,904,237,600,170,553,1
11,Total,336,-,-,-,-,977,744,652,1
14,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,2
16,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,2
17,Iter,1,702,494,311,492,456,370,150,2
18,Iter,2,929,82,838,421,154,346,227,2
19,Iter,3,763,402,344,951,139,295,285,2
20,Iter,4,469,930,560,395,433,237,429,2
21,Iter,5,688,145,41,188,534,778,152,2
22,Average,66,307,835,615,731,943,460,76,2
23,Maximum,329,402,777,664,98,44,932,409,2
24,Std.Dev.,439,770,222,395,3,97,802,570,2
25,Total,287,-,-,-,-,655,169,620,2
28,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,3
30,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,3
31,Iter,1,618,728,829,925,777,943,412,3
32,Iter,2,191,887,652,255,214,42,343,3
33,Iter,3,288,352,434,960,106,326,797,3
34,Iter,4,443,421,954,550,113,867,705,3
35,Iter,5,452,430,57,115,680,449,146,3
36,Average,769,535,217,840,172,474,424,189,3
37,Maximum,317,573,326,989,867,686,559,169,3
38,Std.Dev.,52,27,49,696,249,886,175,218,3
39,Total,98,-,-,-,-,40,686,585,3
42,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,4
44,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,4
45,Iter,1,372,592,393,453,624,34,334,4
46,Iter,2,546,679,734,612,382,917,920,4
47,Iter,3,2,357,301,139,935,722,996,4
48,Iter,4,474,41,57,934,250,801,389,4
49,Iter,5,715,278,862,460,377,893,94,4
50,Average,707,221,80,972,152,640,81,430,4
51,Maximum,743,163,548,844,761,810,776,590,4
52,Std.Dev.,855,207,917,763,211,831,566,871,4
53,Total,948,-,-,-,-,139,598,821,4
56,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,5
58,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,5
59,Iter,1,146,596,946,165,942,39,715,5
60,Iter,2,452,547,999,827,103,495,340,5
61,Iter,3,506,788,308,197,179,974,44,5
62,Average,74,892,812,719,684,864,86,636,5
63,Maximum,858,783,621,778,301,107,22,577,5
64,Std.Dev.,268,979,93,58,305,939,261,250,5
65,Total,162,-,-,-,-,732,801,876,5
68,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,6
70,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,6
71,Iter,1,504,517,395,953,582,353,603,6
72,Iter,2,24,561,908,650,896,719,714,6
73,Iter,3,201,913,64,351,979,571,235,6
74,Average,643,957,954,679,768,665,68,645,6
75,Maximum,493,118,807,95,905,638,875,963,6
76,Std.Dev.,341,337,994,117,181,291,792,369,6
77,Total,460,-,-,-,-,167,38,948,6
80,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,7
82,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,7
83,Iter,1,779,504,574,5,564,375,604,7
84,Iter,2,713,720,952,72,167,208,174,7
85,Iter,3,677,19,35,976,274,684,586,7
86,Average,38,470,883,277,258,8,649,615,7
87,Maximum,658,822,763,466,324,441,570,116,7
88,Std.Dev.,629,262,432,136,429,83,635,314,7
89,Total,731,-,-,-,-,463,303,413,7
92,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,8
94,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,8
95,Iter,1,682,247,118,790,523,377,969,8
96,Iter,2,943,660,269,898,607,909,504,8
97,Iter,3,717,906,23,752,97,117,329,8
98,Average,618,413,312,716,771,911,355,486,8
99,Maximum,525,111,737,378,179,613,813,889,8
100,Std.Dev.,858,824,84,214,190,907,572,707,8
101,Total,54,-,-,-,-,98,515,772,8
104,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,9
106,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,9
107,Iter,1,810,75,476,586,712,894,363,9
108,Iter,2,709,672,851,934,623,597,557,9
109,Iter,3,506,600,718,672,384,601,738,9
110,Average,815,230,350,286,532,72,938,337,9
111,Maximum,719,94,976,616,553,196,51,215,9
112,Std.Dev.,57,950,576,163,627,557,701,801,9
113,Total,133,-,-,-,-,680,961,634,9
116,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,10
118,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,10
119,Iter,1,29,327,220,939,154,216,399,10
120,Iter,2,959,105,886,66,638,352,422,10
121,Iter,3,520,154,303,329,522,513,767,10
122,Average,499,48,999,923,597,933,731,533,10
123,Maximum,284,753,380,380,869,884,52,412,10
124,Std.Dev.,663,988,724,721,841,907,785,453,10
125,Total,141,-,-,-,-,385,177,982,10
128,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,11
130,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,11
131,Iter,1,180,410,106,273,30,348,262,11
132,Iter,2,667,248,266,313,836,199,628,11
133,Iter,3,304,362,768,137,709,754,173,11
134,Average,960,658,145,157,957,469,14,956,11
135,Maximum,319,936,526,631,907,241,813,56,11
136,Std.Dev.,967,306,607,193,578,679,126,807,11
137,Total,534,-,-,-,-,79,729,399,11
140,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,12
142,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,12
143,Iter,1,35,369,169,3,161,677,829,12
144,Iter,2,211,225,890,434,632,693,541,12
145,Iter,3,858,787,10,687,102,22,97,12
146,Average,260,405,307,15,65,811,501,574,12
147,Maximum,509,964,461,176,384,921,218,632,12
148,Std.Dev.,911,334,67,205,738,400,263,476,12
149,Total,434,-,-,-,-,832,461,830,12
152,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,13
154,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,13
155,Iter,1,897,26,926,827,139,394,583,13
156,Iter,2,808,779,906,784,487,432,745,13
157,Iter,3,198,808,788,719,612,236,960,13
158,Average,685,702,66,996,14,235,267,468,13
159,Maximum,933,834,612,68,666,346,961,305,13
160,Std.Dev.,216,935,21,255,421,412,522,848,13
161,Total,542,-,-,-,-,980,393,679,13
164,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,14
166,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,14
167,Iter,1,695,228,331,624,247,708,630,14
168,Iter,2,168,107,319,866,544,287,124,14
169,Iter,3,977,509,598,432,871,402,511,14
170,Iter,4,527,824,210,136,403,34,476,14
171,Average,642,757,335,460,937,764,645,363,14
172,Maximum,860,760,338,513,548,411,493,99,14
173,Std.Dev.,476,178,727,605,850,907,796,970,14
174,Total,112,-,-,-,-,708,851,16,14
177,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,15
179,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,15
180,Iter,1,638,914,568,544,993,840,210,15
181,Iter,2,422,908,482,995,624,924,394,15
182,Iter,3,186,401,665,750,822,613,824,15
183,Average,487,631,880,448,212,905,960,927,15
184,Maximum,188,478,209,787,869,712,9,353,15
185,Std.Dev.,869,456,671,542,200,828,505,594,15
186,Total,650,-,-,-,-,536,107,46,15
189,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,16
191,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,16
192,Iter,1,580,688,751,566,64,318,493,16
193,Iter,2,909,994,946,52,835,157,552,16
194,Iter,3,393,408,700,725,389,900,990,16
195,Average,966,426,467,680,893,859,512,199,16
196,Maximum,944,975,418,492,183,930,413,749,16
197,Std.Dev.,845,805,86,838,207,171,173,200,16
198,Total,301,-,-,-,-,820,856,42,16
201,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,17
203,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,17
204,Iter,1,782,56,539,463,820,191,834,17
205,Iter,2,567,539,29,364,846,80,539,17
206,Iter,3,285,408,700,378,51,646,912,17
207,Average,650,387,270,332,76,919,764,813,17
208,Maximum,959,191,795,783,718,837,243,101,17
209,Std.Dev.,220,826,774,574,319,667,5,226,17
210,Total,289,-,-,-,-,925,31,872,17
213,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,18
215,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,18
216,Iter,1,656,27,127,306,957,848,17,18
217,Iter,2,513,482,656,825,787,822,268,18
218,Iter,3,48,327,229,146,370,807,206,18
219,Iter,4,502,249,503,748,530,622,77,18
220,Iter,5,754,875,628,464,19,975,749,18
221,Iter,6,73,185,274,524,75,934,212,18
222,Average,994,909,704,364,859,843,11,103,18
223,Maximum,893,56,99,136,15,733,868,381,18
224,Std.Dev.,259,555,238,218,372,499,144,722,18
225,Total,591,-,-,-,-,535,299,50,18
228,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,19
230,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,19
231,Iter,1,600,725,964,515,193,98,247,19
232,Iter,2,298,245,711,327,402,553,765,19
233,Iter,3,196,488,761,255,412,199,835,19
234,Iter,4,129,756,378,96,813,328,502,19
235,Iter,5,200,932,266,732,539,528,97,19
236,Iter,6,786,937,499,242,176,803,41,19
237,Average,360,648,373,811,610,40,605,230,19
238,Maximum,568,379,775,846,149,327,507,514,19
239,Std.Dev.,987,260,761,108,380,237,313,620,19
240,Total,64,-,-,-,-,756,874,368,19
243,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,20
245,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,20
246,Iter,1,272,462,430,480,43,894,199,20
247,Iter,2,399,846,367,734,950,308,149,20
248,Iter,3,77,564,687,247,571,727,806,20
249,Iter,4,271,794,250,681,555,955,841,20
250,Average,606,788,753,895,869,239,355,226,20
251,Maximum,424,147,385,728,597,79,198,942,20
252,Std.Dev.,433,463,35,657,135,806,799,925,20
253,Total,398,-,-,-,-,856,290,551,20
256,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,21
258,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,21
259,Iter,1,549,989,703,729,735,473,182,21
260,Iter,2,672,809,267,78,424,159,620,21
261,Iter,3,985,226,77,167,149,987,379,21
262,Iter,4,645,537,610,160,158,784,55,21
263,Average,437,104,871,185,463,555,104,219,21
264,Maximum,185,436,837,664,62,430,75,709,21
265,Std.Dev.,781,274,842,807,569,397,931,566,21
266,Total,857,-,-,-,-,897,958,607,21
269,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,22
271,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,22
272,Iter,1,583,611,929,156,84,21,233,22
273,Iter,2,518,326,285,503,36,785,412,22
274,Iter,3,526,46,553,991,852,921,554,22
275,Iter,4,619,623,719,614,159,680,567,22
276,Average,250,570,135,540,143,53,166,260,22
277,Maximum,121,145,273,24,199,88,188,185,22
278,Std.Dev.,287,827,716,770,644,447,722,265,22
279,Total,925,-,-,-,-,282,290,892,22
282,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,23
284,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,23
285,Iter,1,973,660,609,932,479,623,432,23
286,Iter,2,61,371,304,991,990,630,763,23
287,Iter,3,63,701,52,535,671,598,372,23
288,Average,925,684,844,712,172,388,167,980,23
289,Maximum,745,87,908,805,499,430,405,38,23
290,Std.Dev.,97,411,611,584,220,791,353,704,23
291,Total,540,-,-,-,-,784,871,554,23
294,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,24
296,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,24
297,Iter,1,591,292,517,237,265,891,256,24
298,Iter,2,194,43,325,481,536,601,532,24
299,Iter,3,454,756,534,616,226,732,742,24
300,Iter,4,484,956,210,381,613,651,344,24
301,Iter,5,540,182,157,721,144,252,483,24
302,Average,767,913,856,839,966,968,265,527,24
303,Maximum,325,575,426,456,895,736,927,986,24
304,Std.Dev.,289,667,15,259,594,77,655,775,24
305,Total,345,-,-,-,-,449,673,483,24
308,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,25
310,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,25
311,Iter,1,415,967,577,225,29,473,945,25
312,Iter,2,518,74,611,250,990,895,593,25
313,Iter,3,690,682,738,344,457,73,898,25
314,Iter,4,340,631,49,827,749,575,820,25
315,Iter,5,375,834,351,708,642,788,35,25
316,Average,547,90,682,904,131,111,849,756,25
317,Maximum,866,919,76,669,106,124,529,85,25
318,Std.Dev.,273,465,658,429,553,857,9,299,25
319,Total,5,-,-,-,-,579,732,405,25
322,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,26
324,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,26
325,Iter,1,415,671,909,217,492,585,453,26
326,Iter,2,706,309,832,613,713,828,75,26
327,Iter,3,750,79,803,698,474,594,38,26
328,Iter,4,695,976,552,631,957,308,928,26
329,Iter,5,560,166,913,747,710,64,513,26
330,Iter,6,642,848,510,11,759,909,779,26
331,Average,595,630,34,225,40,780,89,31,26
332,Maximum,956,30,829,236,28,35,719,618,26
333,Std.Dev.,859,512,424,351,577,220,639,178,26
334,Total,51,-,-,-,-,704,16,843,26
337,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,27
339,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,27
340,Iter,1,179,223,323,439,994,486,588,27
341,Iter,2,612,696,783,726,121,801,181,27
342,Iter,3,1000,926,369,464,356,972,140,27
343,Iter,4,308,709,149,940,773,639,574,27
344,Iter,5,345,566,470,934,837,351,272,27
345,Iter,6,474,537,436,372,20,671,289,27
346,Average,966,324,591,772,124,199,990,48,27
347,Maximum,192,405,474,841,56,456,329,550,27
348,Std.Dev.,530,406,424,360,507,119,627,127,27
349,Total,726,-,-,-,-,28,321,935,27
352,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,28
354,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,28
355,Iter,1,883,752,258,115,720,722,831,28
356,Iter,2,638,615,985,713,350,805,287,28
357,Iter,3,492,561,955,303,146,236,602,28
358,Iter,4,802,185,921,651,513,210,727,28
359,Average,27,515,501,87,988,777,242,224,28
360,Maximum,752,586,716,521,761,906,30,299,28
361,Std.Dev.,623,849,619,94,566,530,709,411,28
362,Total,883,-,-,-,-,256,224,331,28
365,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,29
367,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,29
368,Iter,1,206,40,866,739,530,959,449,29
369,Iter,2,536,630,381,724,380,884,495,29
370,Iter,3,75,714,472,692,715,49,717,29
371,Iter,4,659,76,880,269,786,720,956,29
372,Average,173,920,660,766,726,49,671,610,29
373,Maximum,152,725,522,137,877,305,782,751,29
374,Std.Dev.,664,713,639,445,451,786,90,600,29
375,Total,734,-,-,-,-,649,292,411,29
378,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,30
380,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,30
381,Iter,1,250,229,894,249,886,371,572,30
382,Iter,2,751,943,101,947,524,929,5,30
383,Iter,3,631,976,308,185,376,888,734,30
384,Iter,4,16,493,215,342,54,887,924,30
385,Average,67,569,411,647,360,644,736,552,30
386,Maximum,846,637,266,599,84,276,680,790,30
387,Std.Dev.,52,9,170,69,934,666,467,241,30
388,Total,946,-,-,-,-,878,642,1000,30
391,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,31
393,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,31
394,Iter,1,828,512,244,452,227,679,495,31
395,Iter,2,643,76,39,932,128,799,12,31
396,Iter,3,713,518,444,95,898,788,553,31
397,Iter,4,890,871,702,179,382,570,680,31
398,Average,419,18,258,506,303,699,455,828,31
399,Maximum,422,517,374,113,704,535,972,359,31
400,Std.Dev.,948,48,335,6,221,80,981,719,31
401,Total,532,-,-,-,-,743,31,855,31
404,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,32
406,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,32
407,Iter,1,649,258,167,706,219,686,898,32
408,Iter,2,223,484,692,710,540,409,340,32
409,Iter,3,927,762,465,793,239,113,80,32
410,Iter,4,129,937,665,689,199,32,938,32
411,Average,376,344,576,420,839,507,235,41,32
412,Maximum,201,187,797,873,489,55,71,623,32
413,Std.Dev.,566,187,576,711,918,572,421,360,32
414,Total,610,-,-,-,-,356,88,23,32
417,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,33
419,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,33
420,Iter,1,511,385,665,782,198,88,675,33
421,Iter,2,148,880,951,166,537,141,871,33
422,Iter,3,560,777,922,509,668,454,948,33
423,Iter,4,335,532,319,128,316,785,25,33
424,Average,904,468,791,231,103,826,740,12,33
425,Maximum,771,97,495,549,464,495,748,348,33
426,Std.Dev.,935,259,932,367,367,285,898,675,33
427,Total,232,-,-,-,-,160,602,869,33
430,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,34
432,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,34
433,Iter,1,42,284,948,181,682,344,526,34
434,Iter,2,789,444,911,385,762,923,840,34
435,Iter,3,529,644,626,398,727,179,942,34
436,Iter,4,361,869,325,96,306,77,234,34
437,Iter,5,511,477,885,185,658,347,168,34
438,Average,732,61,351,818,870,686,160,521,34
439,Maximum,67,938,836,252,12,917,901,496,34
440,Std.Dev.,115,147,195,412,384,760,37,521,34
441,Total,473,-,-,-,-,204,677,974,34
444,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,35
446,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,35
447,Iter,1,13,867,974,211,71,308,153,35
448,Iter,2,674,598,636,423,116,146,824,35
449,Iter,3,923,64,699,594,680,312,764,35
450,Iter,4,221,638,907,153,295,430,596,35
451,Iter,5,737,712,77,750,458,115,346,35
452,Iter,6,928,785,794,236,822,956,346,35
453,Average,154,41,279,468,827,473,646,115,35
454,Maximum,298,173,619,798,879,62,11,519,35
455,Std.Dev.,350,798,173,460,220,299,451,447,35
456,Total,758,-,-,-,-,490,737,928,35
459,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,36
461,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,36
462,Iter,1,192,982,283,839,174,374,503,36
463,Iter,2,824,615,972,329,584,922,179,36
464,Iter,3,60,77,543,926,867,797,396,36
465,Iter,4,930,537,489,464,346,684,343,36
466,Iter,5,359,359,604,629,746,826,677,36
467,Average,883,545,808,600,964,627,121,789,36
468,Maximum,647,566,488,148,937,719,721,861,36
469,Std.Dev.,44,589,712,772,843,34,263,970,36
470,Total,603,-,-,-,-,630,310,866,36
473,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,37
475,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,37
476,Iter,1,313,808,940,853,525,320,917,37
477,Iter,2,643,193,15,262,822,919,669,37
478,Iter,3,996,260,132,904,122,333,458,37
479,Iter,4,130,841,980,632,832,449,739,37
480,Iter,5,572,448,383,730,891,69,612,37
481,Average,275,397,561,891,698,911,283,635,37
482,Maximum,381,48,637,914,360,481,419,935,37
483,Std.Dev.,545,232,703,800,334,114,137,577,37
484,Total,797,-,-,-,-,298,632,552,37
487,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,38
489,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,38
490,Iter,1,984,275,46,289,508,241,843,38
491,Iter,2,693,618,797,192,44,697,564,38
492,Iter,3,39,953,411,3,217,818,977,38
493,Iter,4,223,368,466,760,724,825,573,38
494,Iter,5,559,406,367,826,148,374,950,38
495,Average,859,327,380,485,477,396,352,842,38
496,Maximum,730,460,744,11,41,149,439,962,38
497,Std.Dev.,674,351,808,811,111,790,553,369,38
498,Total,343,-,-,-,-,546,666,311,38
501,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,39
503,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,39
504,Iter,1,89,178,99,973,965,509,665,39
505,Iter,2,678,688,363,453,340,987,120,39
506,Iter,3,264,676,982,329,977,96,735,39
507,Iter,4,182,472,943,66,248,157,171,39
508,Iter,5,539,89,538,316,453,225,325,39
509,Average,948,488,226,783,120,814,348,880,39
510,Maximum,30,63,585,257,974,559,986,93,39

In [67]:
# reset rows displayed
pd.reset_option('all')

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

C:\Users\jisbe\anaconda3\lib\site-packages\pandas\_config\config.py:622: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

In [68]:
# remove 'index 2' row - unneeded row
drop_extra_columns_name_rows = iter_cols[iter_cols['Row Type'] != 'Row Type']
drop_extra_columns_name_rows

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,5994
76373,Average,979,641,531,374,448,407,185,439,5994
76374,Maximum,783,172,941,53,982,217,963,502,5994
76375,Std.Dev.,221,112,717,630,239,561,142,909,5994
76376,Total,429,-,-,-,-,847,583,407,5994

In [73]:
# seperate columns from data frame, creating a 'name data frame'
name_dataframe = drop_extra_columns_name_rows[drop_extra_columns_name_rows['Row Type'].str.contains('first name')]

# using inplace, the .drop changes will be committed to the dataframe
name_dataframe.drop(columns = ['Speed1', 'Speed2', 'Electricity', 'Effort', 'Weight', 'Torque'], inplace = True)

# create dictionary to change the header names
name_dataframe.rename(columns = {'Row Type': 'First Name', 'Iter Number': 'Last Name', 'Power1': 'Date'}, inplace = True)

# remove 'first name', 'last name', from the values in the rows
# string slicing - take the first few indices of the overall value
name_dataframe['First Name'] = name_dataframe['First Name'].str[12:]  # start at 12 index and take the values after
name_dataframe['Last Name'] = name_dataframe['Last Name'].str[11:] # start at 11 index and take the values after
name_dataframe['Date'] = name_dataframe['Date'].str[6:] # start at 6 index and take the values after

name_dataframe

C:\Users\jisbe\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\jisbe\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-73-82f9be6cb481>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_dataframe['First Name'] = name_dataframe['First Name'].str[12:]  # start at 12 index and take the values after
<ipython-input-73-82f9be6cb481>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_dataframe['Last Name'] = name_dataframe['Last Name'].str[11:] # start at 11 index and take the values after
<ipython-input-73-82f9be6cb481>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_dataframe['Date'] = name_dataframe['Date'].str[6:] # start at 6 index and take the values after

      First Name Last Name         Date  Iteration
0         Person     Human  end of time          1
14        Person     Human  end of time          2
28        Person     Human  end of time          3
42        Person     Human  end of time          4
56        Person     Human  end of time          5
...          ...       ...          ...        ...
76309     Person     Human  end of time       5990
76322     Person     Human  end of time       5991
76336     Person     Human  end of time       5992
76350     Person     Human  end of time       5993
76364     Person     Human  end of time       5994

[5994 rows x 4 columns]

In [74]:
# create a new dataframe without all of this first name information - a 'no name dataframe'
# want the complete opposite of the name_dataframe - you can use an inverse opertaor'~' 
# this will pull exact opposite rows from name_dataframe logic
no_name_dataframe = drop_extra_columns_name_rows[~drop_extra_columns_name_rows['Row Type'].str.contains('first name')]
no_name_dataframe

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Iteration
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,5994
76373,Average,979,641,531,374,448,407,185,439,5994
76374,Maximum,783,172,941,53,982,217,963,502,5994
76375,Std.Dev.,221,112,717,630,239,561,142,909,5994
76376,Total,429,-,-,-,-,847,583,407,5994

In [75]:
# merge these two dataframes together
pd.merge(left = name_dataframe, right = no_name_dataframe, how = 'inner', on = 'Iteration')

,First Name,Last Name,Date,Iteration,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,Person,Human,end of time,1,Iter,1,360,108,863,599,680,442,982
1,Person,Human,end of time,1,Iter,2,684,508,613,241,249,758,639
2,Person,Human,end of time,1,Iter,3,365,126,825,407,855,164,86
3,Person,Human,end of time,1,Iter,4,764,594,304,718,278,674,774
4,Person,Human,end of time,1,Iter,5,487,97,593,206,779,800,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46404,Person,Human,end of time,5994,Iter,6,879,73,977,680,500,395,863
46405,Person,Human,end of time,5994,Average,979,641,531,374,448,407,185,439
46406,Person,Human,end of time,5994,Maximum,783,172,941,53,982,217,963,502
46407,Person,Human,end of time,5994,Std.Dev.,221,112,717,630,239,561,142,909
46408,Person,Human,end of time,5994,Total,429,-,-,-,-,847,583,407

# Done!

Each row is a person with their own individual stats

We can drop the Iter Number column if we so choose, and export this into a CSV